* {

    margin: 0;

    padding: 0;



    box-sizing: border-box;

}

#container {

    width: 100%;

    height: 100vh;

    background-color: rgba(258, 258, 128, 0.9);

    position: fixed;

    top: 0;

    left: 0;

    z-index: 10000;

}



#page_cover {

    width: 100%;

    height: 100vh;

    display: flex;

    justify-content: center;

    align-items: center;

    /* background: linear-gradient(262deg, rgba(127, 0, 255, 0.14889705882352944) 0%, rgba(225, 0, 255, 0.1516981792717087) 100%); */

    background-color: rgba(255, 255, 128, 0.9);

    position: fixed;

    top: 0;

    left: 0;

    z-index: 10000;



}





#profile_box {

    width: 300px;

    height: auto;

    background-color: white;

    box-shadow: 0px 0px 10px #ccc;

    border-radius: 15px;

    padding: 50px 25px;

    display: flex;

    justify-content: center;

    align-items: center;

    flex-direction: column;



}

#profile_pic {

    width: 150px;

    height: 150px;

    border-radius: 50%;

    border: 5px solid white;

    box-shadow: 0px 0px 10px #ccc;

    position: relative;











}





#profile_upload {

    width: 150px;

    height: 150px;

    opacity: 0;

    position: absolute;

    top: 0;

    left: 0;

    border-radius: 50%;





}

#profile_icon {

    font-size: 120px;

    color: #ccc;

    position: absolute;

    top: 5px;

    left: 40%;

    bottom: 2%;

    transform: translate(-50%);



}

#line {

    font-size: 23px;

    color: grey;

    font-family: 'ubuntu', sans-serif;

    margin-top: 15px;

    margin-bottom: 10px;



}

#profile_name {

    font-family: 'ubuntu', sans-serif;

}

#next {

    width: 100%;

    padding: 10px;

    border: none;

    font-size: 16px;

    background-color: yellow;


    color: #ccc;

    font-family: 'ubuntu', sans-serif;

    outline: none;

    cursor: pointer;

    margin-top: 20px;

    display: none;

}



#profile_header {

    width: 100%;

    height: 150px;







}

#profile_picture {

    width: 150px;

    height: 150px;



    border-radius: 50%;

    border: 5px solid white;

    box-shadow: 0px 0px 10px #ccc;

    position: absolute;

    left: 50%;

    transform: translate(-50%);

    top: 80px;

}

#profile_username {

    text-align: center;

    margin-top: 90px;

    font-family: 'ubuntu', sans-serif;

}

#app {

    width: 100%;

    height: 300px;



    display: flex;

    align-items: center;

    justify-content: center;

    margin-top: 15px;



}

@media(max-width:576px) {

    #app {

        flex-direction: column;

        height: 100%;

    }

}

#contact,
#player,
#logout {

    width: 180px;

    height: 150px;

    background-color: white;

    margin: 20px;

    border-radius: 15px;

    display: flex;

    align-items: center;

    justify-content: center;

    flex-direction: column;



}

#contact:hover,
#player:hover,
#logout:hover {

    width: 200px;

    height: 170px;

    box-shadow: 0px 0px 15px #ccc;

    transition: 0.5s;

    cursor: pointer;

}

#contact p {

    font-size: 25px;

    color: #ccc;

    font-family: 'ubuntu', sans-serif;

    margin-top: 7px;

}

#player p {

    font-size: 25px;

    color: #ccc;

    font-family: 'ubuntu', sans-serif;

    margin-top: 7px;

}

#logout p {

    font-size: 25px;

    color: #ccc;

    font-family: 'ubuntu', sans-serif;

    margin-top: 7px;

}

#profile_footer {

    width: 100%;

    height: 70px;

    background-color: purple;

    display: flex;

    align-items: center;

    justify-content: center;

    flex-direction: column;

}

#profile_footer {

    color: white;

    font-family: 'ubuntu', sans-serif;

    font-size: 20px;

}